<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.awak.wekare"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.CALL_PHONE"/>
  <uses-permission
      android:name="android.permission.READ_EXTERNAL_STORAGE"
      tools:ignore="ScopedStorage"
      tools:remove="android:maxSdkVersion" />
  <uses-permission
      android:name="android.permission.WRITE_EXTERNAL_STORAGE"
      tools:ignore="ScopedStorage"
      tools:remove="android:maxSdkVersion" />

  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.SET_ALARM" />


  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application
      android:name=".WeKareApplication"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">

    <!-- Main Activity -->
    <activity
        android:name=".MainActivity"
        android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:name=".MyFirebaseMessagingService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <service
        android:name=".Service.MedTimerService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="dataSync" />

  </application>

</manifest>
